* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2,
.container {
  text-align: center;
}

.modal.view.hidden {
  display: none;
}

.modal.view {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
}

.modal.container {
  display: flex;
  width: 900px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.row {
  display: flex;
}
.right (
  justify-content: flex-end
)
