* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.modal.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal.view {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
}

.modal.view.hidden {
  display: none;
}

.modal-box {
  background-color: white;
  width: 50%;
}
